<div class="panel panel-default">
  <div class="panel-heading">
      <h4><%= t('.sign_up', :default => @minut.title) %></h4>
  </div>
  <div class="panel-body">
	<p>
  	<%= simple_format(h(@minut.body)) %>
	</p>
  </div>
</div>
  
<%= link_to '修正', edit_minut_path(@minut), { :class => 'btn btn-info'} %> |
<%= link_to '戻る', minuts_path, { :class => 'btn btn-info'} %>
